
/**
 * Looker logo.
 */

.logo[data-logo="Looker"] {
  width: 0;
}

.logo[data-logo="Looker"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Looker"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Looker"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
